body
{
    background: black;
    color: #333333;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 16 px;
    margin: 0;
    padding: 0;
}
#Cabecera
{
    background: #0d1536;
    box-shadow: 0px 3px 2px 2px rgb(82, 82, 82);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em;
}
#Cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}
#Cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.5em;
}
#Container
{
    width: 70%;
    padding: 1em;
    text-align: justify;
    border: 1px solid #DDDD;
    margin: 0 auto;
}
#Container h1
{
    font-size: 20;
    text-align: center;
    color: rgba(122, 0, 0, 0.867);
}
#post
{
    background: white;
    padding: 1em;

}